<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto loginForm">
            
            <div class="boxShadow">
                <div class="w-100 text-center mb-3">
                    <img src="../../../assets/img/logo.png" class="w-100" alt="logo" />
                  </div>
              <div class="p-4">
                <form>
                  <div class="input-group mb-3">
                    <label class="w-100">Username</label>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                      <label class="w-100">Password</label>
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                      required>
                  </div>
                  <div class="row justify-content-center">
                      <a href="/#/documentupload" class="btn btn-primary px-4 text-light">Login</a>
                  </div>
                </form>
              </div>


            </div>
          </div>
        </div>
      </div>
  </main>
</div>