<!-- <app-header [navbarBrandRouterLink]="['/documentupload']" [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"></app-header> -->

<app-headercustom></app-headercustom>

<div class="w-100 app-body">
  <div class="col-md-12 py-3 mb-4">
    <tabset class="customTabs">
      <tab heading="Document Upload">
        <div>
          <form>
            <div class="form-group d-flex">
              <div class="col-3">
                Main Category
              </div>
              <div class="col-9">
                <select class="form-control" required>
                  <option>Select</option>
                </select>
              </div>

            </div>
            <div class="form-group d-flex">
              <div class="col-3">
                Sub Section 1
              </div>
              <div class="col-9">
                <select class="form-control" required>
                  <option>Select</option>
                </select>
              </div>

            </div>
            <div class="form-group d-flex">
              <div class="col-3">
                Sub Section 2
              </div>
              <div class="col-9">
                <select class="form-control" required>
                  <option>Select</option>
                </select>
              </div>

            </div>

            <div class="form-group d-flex">
              <div class="col-3">
                Month / Year
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="pr-4 selectDiv">
                    <select class="form-control" required>
                      <option>Select</option>
                    </select>
                  </div>
                  <div class="selectDiv">
                    <select class="form-control" required>
                      <option>Select</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group d-flex">
              <div class="col-3">
                File Name
              </div>
              <div class="col-9">
                <input type="text" class="form-control" id="name" required name="name" />
              </div>

            </div>
            <div class="form-group d-flex">
              <div class="col-3">
                Document Upload
              </div>
              <div class="col-9">
                <input type="file" name="Choose file">
              </div>
            </div>

            <div class="form-group d-flex mt-3">
              <div class="col-3">
              </div>
              <div class="col-9">
                <button type="button" class="btn btn-primary mr-3">Submit for Approval</button>
                <button type="button" class="btn btn-dark">Cancel</button>
              </div>
            </div>


          </form>
        </div>
      </tab>
      <tab heading="Factsheet">
        <div class="form-group d-flex flex-column">
          <div class="col-12 mb-3">
            <select class="form-control" required>
              <option>Select</option>
              <option>Asset Allocation</option>
              <option>Fund Fact</option>
              <option>LumpSum Return</option>
              <option>Maturity Profile</option>
              <option>Our Funds</option>
              <option>Portfolio Analysis</option>
              <option>Quantitative Indicators</option>
              <option>Rating Profile</option>
              <option>SIP</option>
            </select>
          </div>
          <div class="col-12 mb-3">
            <input type="file" name="Choose file">
          </div>
        </div>
        <div class="form-group d-flex">
          <div class="col-3">
          </div>
          <div class="col-9">
            <button type="button" class="btn btn-primary mr-3">Submit for Approval</button>
            <button type="button" class="btn btn-dark">Cancel</button>
          </div>
        </div>
      </tab>
      <tab heading="Ready for Approve">
        <tabset class="innerTabs">
          <tab heading="Document Upload">
            <table class="table customTable">
              <thead>
                <tr>
                  <th><input type="checkbox" /></th>
                  <th>Main Category</th>
                  <th>Sub Section 1</th>
                  <th>Sub Section 2</th>
                  <th>Month & Year</th>
                  <th>File Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination py-3 justify-content-end">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            <div class="d-flex justify-content-center flex-row">
              <button type="button" class="btn btn-primary mr-3">Approve</button>
              <button type="button" class="btn btn-dark">Cancel</button>
            </div>
          </tab>
          <tab heading="Factsheet">
            <table class="table customTable">
              <thead>
                <tr>
                  <th><input type="checkbox" /></th>
                  <th>Document Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>

              </tbody>
            </table>
            <ul class="pagination py-3 justify-content-end">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            <div class="d-flex justify-content-center flex-row">
              <button type="button" class="btn btn-primary mr-3">Approve</button>
              <button type="button" class="btn btn-dark">Cancel</button>
            </div>
          </tab>
        </tabset>
      </tab>
      <tab heading="Ready for Publish">
        <tabset class="innerTabs">
          <tab heading="Document Upload">
            <table class="table customTable">
              <thead>
                <tr>
                  <th><input type="checkbox" /></th>
                  <th>Main Category</th>
                  <th>Sub Section 1</th>
                  <th>Sub Section 2</th>
                  <th>Month & Year</th>
                  <th>File Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>Service Request Forms</td>
                  <td></td>
                  <td>May 2019</td>
                  <td>Asset Allocation</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination py-3 justify-content-end">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            <div class="d-flex justify-content-center flex-row">
              <button type="button" class="btn btn-primary mr-3">Publish</button>
              <button type="button" class="btn btn-dark">Cancel</button>
            </div>
          </tab>
          <tab heading="Factsheet">
            <table class="table customTable">
              <thead>
                <tr>
                  <th><input type="checkbox" /></th>
                  <th>Document Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>Forms</td>
                  <td>
                    <ul class="pl-0 list-unstyled m-0 d-flex flex-row align-items-center justify-content-center tableIconsList">
                      <li><i class="fa fa-eye"></i></li>
                      <li><i class="fa fa-edit"></i></li>
                      <li><i class="fa fa-trash"></i></li>
                    </ul>
                  </td>
                </tr>

              </tbody>
            </table>
            <ul class="pagination py-3 justify-content-end">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            <div class="d-flex justify-content-center flex-row">
              <button type="button" class="btn btn-primary mr-3">Publish</button>
              <button type="button" class="btn btn-dark">Cancel</button>
            </div>
          </tab>
        </tabset>
      </tab>
      <tab heading="Masters">
        <div class="col-md-12">
          <table class="table customTable">
            <thead>
              <tr>
                <th>Main Category</th>
                <th>Sub Section1</th>
                <th>Sub Section1</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Forms</td>
                <td>Service request forms</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Yes</span>
                </td>
              </tr>
              <tr>
                <td>Forms</td>
                <td>Service request forms</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Yes</span>
                </td>
              </tr>
              <tr>
                <td>Forms</td>
                <td>Service request forms</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Yes</span>
                </td>
              </tr>
              <tr>
                <td>Forms</td>
                <td>Service request forms</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Yes</span>
                </td>
              </tr>
              <tr>
                <td>Forms</td>
                <td>Service request forms</td>
                <td></td>
                <td>
                  <span class="badge badge-danger">No</span>
                </td>
              </tr>
              <tr>
                <td>Forms</td>
                <td>Service request forms</td>
                <td></td>
                <td>
                  <span class="badge badge-danger">No</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination py-3 justify-content-end">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="col-4">
            <p>Main Category</p>
            <select class="form-control" required>
              <option>Select</option>
            </select>
            <p class="my-2">OR</p>
            <input type="text" class="form-control" id="name" required name="name" />
          </div>
          <div class="col-4">
            <p>Sub Section 1</p>
            <select class="form-control" required>
              <option>Select</option>
            </select>
            <p class="my-2">OR</p>
            <input type="text" class="form-control" id="name" required name="name" />
          </div>
          <div class="col-4">
            <p>Sub Section 2</p>
            <select class="form-control" required>
              <option>Select</option>
            </select>
            
            <div class="d-flex flex-row align-items-center justify-content-center activeBox"><input type="checkbox" class="form-control" id="name" required name="name" checked />  <span class="ml-2">Is Active</span></div>
          </div> 
        </div>
      </tab>
    </tabset>
  </div>