// Here you can add other styles
.row{
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #fff;
}

.primaryBg{
    background-color: #274897;    
}

.loginForm{
    .boxShadow{
        box-shadow: 0px 0px 4px -1px rgba(0,0,0,.4);
    }
    a, a:hover{
        background-color: #274897;
        border: none;
    }
} 


.customTabs{
    .selectDiv{
        min-width:175px;
    }
    select, input[type="text"]{
        max-width: 350px;
    }
    .nav-tabs{
        .nav-link{
            border: 1px solid #c8ced3;
            border-right: none !important;
            cursor: pointer;
        }
        li.nav-item:last-child .nav-link{
            border-right: 1px solid #c8ced3 !important;
        }
    } 
}

.tab-content, .nav-tabs{
    border: none;
    margin-top: 0px;
}

.tableIconsList{
    i{
        font-size: 17px;
        margin: 0px 4px;
    }
}

.customTable{

    > .nav-tabs{
        margin-top: 30px;
    }
    th, td{
        text-align: center;
        border: 1px solid #ddd;
        border-bottom: none !important;
    }
    thead{
        background-color: #274897;
    }
    th{
        font-weight: normal;
        color: #fff;
        border-color: #274897;
    }
    td{
        &:first-child{
            border-left: 1px solid #ddd;
        }
        &:last-child{
            border-right: 1px solid #ddd;
        }
    }
    tr:last-child{
        td{
            border-bottom: 1px solid #ddd !important;
        }
    }
}

.innerTabs{
    .nav-tabs{
        justify-content: center;
    }
}

.page-item.active .page-link{
    background-color: #274897;
    border-color: #274897;  
}

.page-item .page-link{
    color: #274897;
}

.activeBox{
    margin-top: 33px;
    input{
        width: 17px;
    }
}